@font-face {
	font-family: "iA Writer Quattro S";

	src: url("fonts/iAWriterQuattroS-Regular.ttf") format("truetype");

	font-weight: normal;

	font-style: normal;

	font-display: swap;

	font-feature-settings:
		"calt" 1,
		"kern" 1;
}

@font-face {
	font-family: "iA Writer Quattro S";

	src: url("fonts/iAWriterQuattroS-Bold.ttf") format("truetype");

	font-weight: bold;

	font-style: normal;

	font-display: swap;

	font-feature-settings:
		"calt" 1,
		"kern" 1;
}

@font-face {
	font-family: "iA Writer Quattro S";

	src: url("fonts/iAWriterQuattroS-Italic.ttf") format("truetype");

	font-weight: normal;

	font-style: italic;

	font-display: swap;

	font-feature-settings:
		"calt" 1,
		"kern" 1;
}

@font-face {
	font-family: "iA Writer Quattro S";

	src: url("fonts/iAWriterQuattroS-BoldItalic.ttf") format("truetype");

	font-weight: bold;

	font-style: italic;

	font-display: swap;

	font-feature-settings:
		"calt" 1,
		"kern" 1;
}

@font-face {
	font-family: "iA Writer Mono S";

	src: url("fonts/iAWriterMonoS-Regular.ttf") format("truetype");

	font-weight: normal;

	font-style: normal;

	font-display: swap;

	font-feature-settings:
		"calt" 1,
		"kern" 1;
}

@font-face {
	font-family: "iA Writer Mono S";

	src: url("fonts/iAWriterMonoS-Bold.ttf") format("truetype");

	font-weight: bold;

	font-style: normal;

	font-display: swap;

	font-feature-settings:
		"calt" 1,
		"kern" 1;
}

@font-face {
	font-family: "iA Writer Mono S";

	src: url("fonts/iAWriterMonoS-Italic.ttf") format("truetype");

	font-weight: normal;

	font-style: italic;

	font-display: swap;

	font-feature-settings:
		"calt" 1,
		"kern" 1;
}

@font-face {
	font-family: "iA Writer Mono S";

	src: url("fonts/iAWriterMonoS-BoldItalic.ttf") format("truetype");

	font-weight: bold;

	font-style: italic;

	font-display: swap;

	font-feature-settings:
		"calt" 1,
		"kern" 1;
}
